.DS_Store
test/
fish.py
__pycache__/
tmp/
owl/
camel/
*.txt
.vscode/
log_template/

logs/
final_schedule/

workspace/
init_schedule_old/
output/
execution_logs/

!requirements.txt

# output files
demo/init_schedule/
demo/generated_members/
demo/meeting_logs/

demo/attack_schedule/
demo/attack_logs/

Final-Output/*

https.py
!post_process/https.py

Final-Output-OpenAI/*
